.technologies {
  background-color: #FCF7F8;
  padding: 40px 0;
}
.technologies .tech-section-title {
  font-size: 48px;
  padding: 40px 0 0 0;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
.technologies .tech-section-second-title {
  padding: 0px 0 0 0;
}
.technologies .tech-section-text {
  font-size: 18px;
  letter-spacing: 0.7px;
  width: 80%;
  max-width: 1080px;
  margin: 5px auto;
}
.technologies .tech-section-title:after, .technologies .tech-section-title:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #00fefc;
  border-top: 1px solid #00fefc;
  height: 5px;
  background-color: #FCF7F8;
}
.technologies .tech-group {
  width: 90%;
  margin: auto;
  max-width: 1150px;
  padding: 5px 40px;
  border-bottom: 2px solid #02223C;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.technologies .tech-group .tech-name {
  font-size: 1.5rem;
}
.technologies .tech-group .logos-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.technologies .tech-group .logos-group .tech-link {
  margin: 15px;
  padding: 4px;
  border: solid 4px #FCF7F8;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.technologies .tech-group .logos-group .tech-link:hover {
  background-color: #00fefc;
  border: solid 4px #00fefc;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.technologies .tech-group .logos-group .tech-link .technology-logo {
  max-height: 2rem;
  max-width: 5rem;
}

.second-technologies {
  padding: 0px 0;
}
.second-technologies #tech-section-second-title {
  font-size: 48px;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  letter-spacing: 1px;
  font-weight: 300;
}
.second-technologies #tech-section-second-title span {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  word-spacing: 1px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
.second-technologies #tech-section-second-title span:after, .second-technologies #tech-section-second-title span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #00fefc;
  border-top: 1px solid #00fefc;
  height: 5px;
  background-color: #FCF7F8;
}

@media (max-width: 600px) {
  .technologies .tech-section-title {
    font-size: 28px;
    padding: 20px 0 0 0;
  }
  .technologies .tech-section-text {
    font-size: 14px;
    width: 90%;
    margin: 0px auto 10px auto;
  }
  .technologies .tech-group {
    margin: auto;
    padding: 0px 0px;
    border-bottom: 1px solid #02223C;
    flex-direction: column;
  }
  .technologies .tech-group .tech-name {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 5px 0 0px 0;
  }
  .technologies .tech-group .logos-group {
    justify-content: center;
  }
  .second-technologies #tech-section-second-title {
    font-size: 28px;
  }
  .second-technologies #tech-section-second-title span {
    font-size: 12px;
  }
}/*# sourceMappingURL=styles.css.map */