$aqua: #00fefc
$steel-pink: #D025B9
$oxford-blue: #02223C
$snow: #FCF7F8
$rich-black-fogra-29: #000914

.technologies
    background-color: $snow
    padding: 40px 0
    .tech-section-title
        font-size: 48px
    .tech-group
        width: 90%
        margin: auto
        max-width: 1150px
        padding: 10px 40px
        border-bottom: 2px solid $oxford-blue
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        .tech-name
            font-size: 28px
        .logos-group
            display: flex
            align-items: center
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-end
            .technology-logo
                max-height: 80px
                max-width: 110px
                margin: 25px
                padding: 4px
                border: solid 4px $snow
                border-radius: 10px
                transition: 0.5s
                &:hover
                    background-color: $aqua
                    border: solid 4px $aqua
                    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)