.unclickable {
  cursor: default;
}

.clickable {
  cursor: pointer;
}

.repository {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1150px;
  margin: auto;
  padding: 50px 40px;
  border-bottom: 2px solid #02223C;
  transition: 0.5s;
}
.repository:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.repository .repository-view {
  height: auto;
  width: 40%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.repository .repository-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.repository .repository-info .repository-title {
  font-size: 28px;
}
.repository .repository-info .repository-detail {
  font-size: 18px;
  width: 90%;
  margin: 5px 5px 15px 5px;
}
.repository .repository-info .repository-technologies-title {
  font-size: 18px;
}
.repository .repository-info .repository-technologies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
.repository .repository-info .repository-technologies-container .repository-technology {
  max-height: 40px;
  margin: 5px 10px;
}

.repository-menu-unactive {
  position: absolute;
  scale: 0;
  opacity: 0;
}
.repository-menu-unactive .repository-menu-button {
  scale: 0;
  opacity: 0;
}

.repository-menu {
  background: radial-gradient(25% 50%, rgba(0, 9, 20, 0.5647058824), rgba(0, 9, 20, 0));
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0px;
  min-width: 300px;
  height: 300px;
  scale: 1;
  opacity: 1;
}
.repository-menu .repository-menu-button {
  scale: 1;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #FCF7F8;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: solid 5px #00fefc;
  transition: 0.5s;
  color: #000914;
}
.repository-menu .repository-menu-button:hover {
  animation-name: beat;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: solid 5px #D025B9;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.repository-menu .no-url {
  border-color: gray;
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
}
.repository-menu .no-url:hover {
  animation: none;
}
.repository-menu #repository-menu-yt {
  font-size: 32px;
}
.repository-menu #repository-menu-desktop {
  font-size: 27px;
}
.repository-menu #repository-menu-github {
  font-size: 34px;
}
.repository-menu #repository-menu-xmark {
  font-size: 32px;
}

@keyframes beat {
  0%, 50%, 100% {
    transform: scale(1, 1);
  }
  30%, 80% {
    transform: scale(1.18, 1.15);
  }
}
@media (max-width: 768px) {
  .repository {
    flex-direction: column-reverse;
  }
  .repository:hover {
    box-shadow: none;
  }
  .repository .repository-view {
    height: auto;
    width: 90%;
    margin: 15px 0 0 0;
  }
  .repository .repository-info .repository-detail {
    width: 100%;
    margin: 10px 0px 20px 0px;
  }
  .repository .repository-info .repository-technologies-title {
    margin: 0px 0px 10px 0px;
  }
  .repository .repository-info .repository-technologies-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .repository {
    width: 90%;
    padding: 15px 0px 30px 0px;
  }
  .repository .repository-info .repository-title {
    font-size: 22px;
  }
  .repository .repository-info .repository-detail {
    font-size: 14px;
  }
  .repository .repository-info .repository-technologies-title {
    font-size: 18px;
  }
  .repository .repository-info .repository-technologies-container .repository-technology {
    max-height: 30px;
    margin: 5px 5px;
  }
}/*# sourceMappingURL=styles.css.map */