$aqua: #00fefc
$steel-pink: #D025B9
$oxford-blue: #02223C
$snow: #FCF7F8
$rich-black-fogra-29: #000914

.repository
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    width: 90%
    max-width: 1150px
    margin: auto
    padding: 50px 40px
    border-bottom: 2px solid $oxford-blue
    .repository-view
        height: auto
        width: 40%
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
        cursor: pointer
    .repository-info
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        .repository-title
            font-size: 28px
        .repository-detail
            font-size: 18px
            width: 90%
            margin: 5px 5px 15px 5px
        .repository-technologies-title
            font-size: 18px
        .repository-technologies-container
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap
            width: 80%
            .repository-technology
                max-height: 40px
                margin: 5px 10px

.ReactModal__Overlay 
    z-index: 70
    background: radial-gradient(50% 100%,  #00091490, #00091400)
    opacity: 0
    scale: 0
    transition: all 200ms ease-in-out

.ReactModal__Overlay--after-open
    opacity: 1
    scale: 1

.ReactModal__Overlay--before-close
    opacity: 0

.ReactModal__Content
    position: absolute
    // scale: 0
    // transition: scale 750ms  ease-in-out
    
.ReactModal__Content--after-open
    // scale: 1

.repository-menu
    width: 300px
    height: 300px
    display: flex
    justify-content: center
    align-items: center
    .repository-menu-button
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        background-color: $snow
        cursor: pointer
        height: 50px
        width: 50px
        border-radius: 50px
        border: solid 5px $aqua
        transition: .5s
        &:hover
            animation-name: beat
            animation-duration: 1500ms
            animation-iteration-count: infinite
            animation-timing-function: linear
            border: solid 5px $steel-pink
            box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
    .no-url
        border-color: gray
        color: gray
        cursor: not-allowed
        pointer-events: none
        &:hover
            animation: none
    #repository-menu-yt
        font-size: 32px
        top: 100px
        right: 220px
    #repository-menu-desktop
        font-size: 27px
        top: 70px
    #repository-menu-github
        font-size: 34px
        top: 100px
        left: 220px
    #repository-menu-xmark
        font-size: 32px

@keyframes beat
    0%, 50%, 100%
        transform: scale(1, 1)
    30%, 80%
        transform: scale(1.18, 1.15)

@media (max-width: 768px)
    .repository
        flex-direction: column-reverse
        .repository-view
            height: auto
            width: 90%
            margin: 15px 0 0 0
        .repository-info
            .repository-title
            .repository-detail
                width: 100%
                margin: 10px 0px 20px 0px
            .repository-technologies-title
                margin: 0px 0px 10px 0px
            .repository-technologies-container
                width: 100%

@media (max-width: 600px)
    .repository
        width: 90%
        padding: 15px 0px 30px 0px
        .repository-view
        .repository-info
            .repository-title
                font-size: 22px
            .repository-detail
                font-size: 14px
            .repository-technologies-title
                font-size: 18px
            .repository-technologies-container
                .repository-technology
                    max-height: 30px
                    margin: 5px 5px