$aqua: #00fefc
$steel-pink: #D025B9
$oxford-blue: #02223C
$snow: #FCF7F8
$rich-black-fogra-29: #000914

.repositories-list
    background-color: $snow
    padding: 40px 0
    .repositories-list-title
        font-size: 48px
    .repository
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 90%
        max-width: 1150px
        margin: auto
        padding: 40px
        border-bottom: 2px solid $oxford-blue
        .repository-view
            height: 250px
            width: 40%
        .repository-info
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            height: 250px
            .repository-title
                font-size: 28px
            .repository-detail
                font-size: 18px
                width: 90%
                margin: 25px
            .repository-technology
                font-size: 5rem
                margin: 0px 10px