$aqua: #00fefc
$steel-pink: #D025B9
$oxford-blue: #02223C
$snow: #FCF7F8
$rich-black-fogra-29: #000914

$roboto: 'Roboto', sans-serif

@mixin background-snow-hover
    transition: 0.5s
    &:hover
        color: $snow
        background-color: $oxford-blue
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
@mixin background-pink-hover
    transition: 0.5s
    &:hover
        color: $rich-black-fogra-29
        background-color: $snow
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
@mixin background-aqua-hover
    transition: 0.5s
    &:hover
        background-color: $aqua
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
@mixin background-pink-hover
    transition: 0.5s
    &:hover
        background-color: $steel-pink
        box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
                
.background-footer-filling
    height: 8vh
    max-heigth: 50px
    width: 100%
    border-top: 15px solid white
  
.contact-container-white-theme
    position: fixed
    z-index: 100
    width: 100%
    bottom: 0%
    height: 8vh
    max-heigth: 50px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    border-top: 5px solid $aqua
    box-shadow: 10px 0 16px 0 rgb(0 0 0 / 20%), 6px 0 20px 0 rgb(0 0 0 / 19%)
    background-color: $snow
    .arrow-down-scroller
        padding: 5.14px 9px
        font-size: 30px
        border-radius: 20px
        @include background-aqua-hover
    .contact-buttons
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin: 0px 40px 0px 0px
        background-color: $snow
        width: 35%
        max-width: 576px
        .contact-button
            margin: 0px 0px 0px 0px
            font-family: $roboto
            font-size: 20px
            color: $oxford-blue
            padding: 6px
            border-radius: 30px
            @include background-snow-hover
        .contact-icon
            font-size: 33px
        .cv-p
            white-space: nowrap
            font-size: 20px
            font-weight: 500

.contact-container-dark-theme
    position: fixed
    z-index: 100
    width: 100%
    bottom: 0%
    height: 8vh
    max-heigth: 50px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    border-top: 5px solid $steel-pink
    box-shadow: 10px 0 16px 0 rgb(0 0 0 / 20%), 6px 0 20px 0 rgb(0 0 0 / 19%)
    background-color: $rich-black-fogra-29
    .arrow-down-scroller
        padding: 5.14px 9px
        font-size: 30px
        border-radius: 20px
        color: $snow
        @include background-pink-hover
    .contact-buttons
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        margin: 40px
        background-color: $rich-black-fogra-29
        width: 35%
        max-width: 576px
        .contact-button
            margin: 0px 0px 0px 0px
            font-family: $roboto
            font-size: 20px
            color: $snow
            padding: 6px
            border-radius: 30px
            @include background-pink-hover
        .contact-icon
            font-size: 33px
        .cv-p
            font-size: 18px
            font-weight: 500

@media (max-width: 1024px)
    .contact-container-white-theme
        .arrow-down-scroller
            display: none
        .contact-buttons
            margin: 0px 40px 0px 0px
            width: 50%
            .contact-button
            .contact-icon
            .cv-p

@media (max-width: 768px)
    .contact-container-white-theme
        height: 7vh
        flex-direction: column
        .arrow-down-scroller
        .contact-buttons
            margin: 0px 0px 0px 0px
            width: 90%
            justify-content: space-around
            .contact-button
            .contact-icon
                font-size: 28px
            .cv-p
                font-size: 16px
                font-weight: 500