.page_404 {
    padding: 40px 0;
    background: #fff;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 25px;
    color: #FCF7F8;
    background: #02223C;
    font-weight: 500;
    transition: 0.5s;
}
.link_404:hover{
    color: #000914;
    background-color: #00fefc;
    box-shadow: 10px 0 16px 0 rgb(0 0 0 / 20%), 6px 0 20px 0 rgb(0 0 0 / 19%);
}

.contant_box_404 {
    margin-top: -50px;
}