* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.App {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 0, 0);
}

