$aqua: #00fefc
$steel-pink: #D025B9
$oxford-blue: #02223C
$snow: #FCF7F8
$rich-black-fogra-29: #000914

.about-me
    padding: 60px 0
    min-height: 80vh
    .personal-description
        max-width: 1150px
        display: flex
        justify-content: space-between
        align-items: center
        width: 90%
        margin: auto
        .about-me-photo
            height: 250px
            width: 40%
            box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
        .about-me-title
            font-size: 28px
            text-align: center
            text-transform: uppercase
        .about-me-title:before 
            width: 50px
            height: 5px
            display: block
            content: ""
            position: relative
            top: 47px
            background-color: $aqua
            margin: auto
        .about-me-title:after 
            width: 70%
            height: 1px
            display: block
            content: ""
            position: relative
            top: 10px
            background-color: $aqua
            margin: auto
        .about-me-text
            font-size: 18px
            width: 100%
            margin: 40px 25px
    .education
        max-width: 1150px
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        width: 90%
        margin: auto
        padding: 40px 0 0 0
        .education-title
            font-size:28px
            letter-spacing:1px
            text-transform: uppercase
            width:160px
            text-align: center
            margin:auto
            white-space: nowrap
        .education-title:before
            background-color: $aqua
            content: ''
            display: block
            height: 3px
            width: 35%
            margin-bottom: 1px
            position: relative
            left: 65%
            bottom:0
        .education-title:after 
            background-color: $aqua
            content: ''
            display: block
            height: 3px
            margin-top: 1px
            width: 35%
        .education-list
            width: 100%
            margin: 0 15px
            .education-list-item
                font-size: 18px
                margin: 0px 0px 20px 0px
                padding: 20px 0px
                list-style: none
                display: flex
                justify-content: space-between
                align-items: center
                border-bottom: 2px solid $oxford-blue
                .education-years
                    font-weight: 600
                    font-size: 24px
                .education-names
                    width: 80%
                    .education-institutions
                        display: flex
                        justify-content: space-between
                        align-items: center
                        height: 71px
                        .education-name
                            font-weight: 500
                            font-size: 18px
                        .education-logo
                            max-height: 80px
                            max-width: 200px
                            margin: 10px 0px
                        #dh-logo
                            background-color: #000
                            padding: 5px
                            max-width: 200px
.langs-container
    max-width: 1150px
    width: 90%
    margin: 0 auto
    text-align: left
    list-style: none
    .langs-title
        margin: 10px auto
        font-size: 28px
        text-transform: uppercase
        width: fit-content
        width:160px
        text-align: center
    .langs-title:before 
        background-color: $aqua
        border-radius: 0.25rem
        content: ''
        display: block
        height: 3px
        width: 35%
        margin-bottom: 1px
    .langs-list-item
        display: flex
        justify-content: space-between
        align-items: center
        .langs-name
            font-weight: 600
            font-size: 20px
        .bar
            width: 90%
            background-color: #EEE
            padding: 2px
            border-radius: 15px
            margin-bottom: 5px
            font-size: 16px
            color: #FFF
            font-weight: bold
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
            white-space: nowrap
            letter-spacing: 0.12em
        .bar::before
            content:  attr(data-skill)
            background-color: #f3b0ff
            display: inline-block
            padding: 5px 0 5px 10px
            border-radius: inherit
            animation: load 2s 0s
            -webkit-animation: load 2s 0s
            -moz-animation: load 2s 0s
            -o-animation: load 2s 0s
        .bar.front::before
            background-color: #ffcc33
        .bar.back::before
            background-color: #a6cfe3
        .bar.learning::before
            width: calc(20% - 10px)
        .bar.basic::before
            width: calc(40% - 10px)
        .bar.intermediate::before
            width: calc(60% - 10px)
        .bar.advanced::before
            width: calc(80% - 10px)
        .bar.expert::before
            width: calc(100% - 10px)

@keyframes load
  from 
    width: 0%
@-webkit-keyframes load
  from 
    width: 0%
@-moz-keyframes load
  from 
    width: 0%
@-o-keyframes load
  from 
    width: 0%